#box-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

#stat-title{
  margin-top:1%;
  margin-bottom:1%;
}

#box{
  border: 5px solid purple;
  width: 50%;
}

#true{
  background: purple;
}

#false{
  background: blue;
}